/* LIGHT PALETTE */
$background-color-primary: #fff;
$background-color-second: #c7c7c7;
$background-color-action: #333;

$font-color-primary: #333;
$font-color-second: #aaa;
$font-color-action: #38b09d;

/* DARK PALETTE */
$dark-background-color-primary: #232323 !important;
$dark-background-color-second: #3e3e3e !important;
$dark-background-color-action: #f3f3f3 !important;

$dark-font-color-primary: #f3f3f3 !important;
$dark-font-color-second: #8e8e8e !important;
$dark-font-color-action: #38b09d !important;
