header {
  width: 100%;
  position: relative;

  .language-switcher {
    position: absolute;
    width: 25px;
    height: 27px;
    z-index: 100;
    right: 16px;
    padding: 0;
    text-align: center;
    top: -2px;

    img {
      border: 1px solid #c7c7c7;
    }
  }
}
