@import "./../variables";

#layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  font-family: "Open Sans", sans-serif;
  color: $font-color-primary;

  @media screen and (prefers-color-scheme: dark) {
    color: $dark-font-color-primary;
  }

  footer {
    font-size: 0.8rem;
    color: $font-color-primary;
    font-weight: bold;
    text-align: center;

    @media screen and (prefers-color-scheme: dark) {
      color: $dark-font-color-primary;
    }

    a {
      color: $font-color-primary;

      @media screen and (prefers-color-scheme: dark) {
        color: $dark-font-color-primary;
      }

      svg {
        max-width: 13px;
        max-width: 13px;
      }
    }
  }
}

@media print {
  div[class*="col-"],
  div.col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  #layout {
    justify-content: flex-start;
  }
}
