@import "./../variables";

#index-template {
  h1 {
    span {
      color: $font-color-action;
      display: block;
      position: relative;

      @media screen and (prefers-color-scheme: dark) {
        color: $dark-font-color-action;
      }

      &:before {
        content: "";
        width: 80px;
        height: 10px;
        position: absolute;
        background: $background-color-second;
        bottom: 5px;
        left: -15px;
        z-index: -1;

        @media screen and (prefers-color-scheme: dark) {
          background: $dark-background-color-second;
        }
      }
    }
  }

  p {
    font-size: 1.15rem;
  }

  .contact {
    h4 {
      font-size: 0.8rem;
      color: $font-color-second;

      @media screen and (prefers-color-scheme: dark) {
        color: $dark-font-color-second;
      }
    }

    a {
      color: $font-color-primary;
      font-weight: 700;
      text-decoration: none;
      transition: color 0.25s ease-in-out;
      font-size: 1rem;

      @media screen and (prefers-color-scheme: dark) {
        color: $dark-font-color-primary;
      }

      &:hover {
        color: $font-color-action;

        @media screen and (prefers-color-scheme: dark) {
          color: $dark-font-color-action;
        }
      }
    }
  }

  form {
    label {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid $background-color-second;
      position: relative;
      padding: 10px 5px 5px;
      transition: border-color 0.25s ease-in-out;

      @media screen and (prefers-color-scheme: dark) {
        border-color: $dark-background-color-second;
      }

      &:focus-within {
        border-color: $background-color-action;

        @media screen and (prefers-color-scheme: dark) {
          border-color: $dark-background-color-action;
        }

        span {
          color: $font-color-primary;

          @media screen and (prefers-color-scheme: dark) {
            color: $dark-font-color-primary;
          }
        }
      }

      input,
      textarea {
        width: 100%;
        border: none;
        padding: 0 10px;
        font-size: 1rem;
        resize: none;
        background: transparent;
        color: $font-color-primary;

        @media screen and (prefers-color-scheme: dark) {
          color: $dark-font-color-primary;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        margin: 0;
        position: absolute;
        top: -10px;
        left: 10px;
        background: $background-color-primary;
        padding: 0 9px;
        font-size: 12px;
        color: $font-color-primary;
        transition: color 0.25s ease-in-out;

        @media screen and (prefers-color-scheme: dark) {
          background: $dark-background-color-primary;
          color: $dark-font-color-primary;
        }
      }
    }

    button {
      float: right;
      background-color: $font-color-action;
      color: #fff;
      border: none;
      padding: 10px 20px;
      transition: background-color 0.25s ease-in-out;

      @media screen and (prefers-color-scheme: dark) {
        background-color: $dark-font-color-action;
        //color: $dark-font-color-primary;
      }

      &:hover {
        background-color: darken($font-color-action, 5%) !important;
      }
    }
  }

  .icons {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;

    a {
      color: $font-color-primary;
      font-size: 2rem;
      transition: color 0.25s ease-in-out;

      @media screen and (prefers-color-scheme: dark) {
        color: $dark-font-color-primary;
      }

      &:hover {
        color: $font-color-action;

        @media screen and (prefers-color-scheme: dark) {
          color: $dark-font-color-action;
        }
      }

      svg {
        max-width: 28px;
        max-height: 28px;
      }
    }
  }
}
